
@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<h2 class="text-info">Create Forum</h2>

<form method="post" asp-action="Create">
    <div class="border">
        <div class="col-2">
            <label></label>
        </div>
        <div class="col-5">
            <input class="form-control" />
        </div>
    </div>
</form>

